#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: -15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-top: 25px;

  border-top: var(--main-border);

  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-image: linear-gradient(
    to right bottom,
    #ffd3eb,
    #f5ccef,
    #e8c7f3,
    #d6c3f8,
    #bfc0fc,
    #abc6ff,
    #96cbff,
    #83d0ff,
    #7dddff,
    #7de9ff,
    #86f4fd,
    #96fff8
  );
  color: White;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 132px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

#splash-screen h5 {
  margin-top: 40px;
  font-size: 50px;
  font-weight: bold;
}
